PORT=3001
MONGODB_URI=mongodb+srv://<db-user>:<db-password>@cluster0.xvcfsjk.mongodb.net/?appName=Cluster0
BETTER_AUTH_SECRET=your_secret_here
BETTER_AUTH_URL=http://localhost:3001

# SSLCommerz Configuration
SSL_STORE_ID=
SSL_STORE_PASSWORD=
SSL_SANDBOX=true
SSL_SESSION_API=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
SSL_VALIDATION_API=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php
NEXT_PUBLIC_WEB_URL=http://localhost:3000
